# ðŸ« Student Performance Analysis Project
### Practice Project â€” Pandas & NumPy

**Your Goal:** Analyze student exam data across subjects and classes.

---
**Topics you will practice:**
- DataFrame creation
- Data Cleaning (handling missing values)
- Melt & Pivot
- GroupBy & Aggregation
- Transform & Filter
- Merge / Join
- Save & Load CSV

## Step 0: Import Libraries

In [ ]:
import pandas as pd
import numpy as np

---
## Step 1: The Dataset (Already Created For You âœ…)

Run the cell below â€” this is your main student DataFrame.

In [ ]:
data = {
    'StudentName': [
        'Aarav', 'Priya', 'Rohan', 'Sneha', 'Karan',
        'Meera', 'Arjun', 'Divya', 'Vikram', 'Nisha',
        'Rahul', 'Pooja', 'Amit', 'Kavya', 'Siddharth',
        'Ananya', 'Harsh', 'Riya', 'Kunal', 'Simran'
    ],
    'Class': [
        '10A', '10A', '10A', '10A', '10A',
        '10B', '10B', '10B', '10B', '10B',
        '10C', '10C', '10C', '10C', '10C',
        '10D', '10D', '10D', '10D', '10D'
    ],
    'Gender': [
        'M', 'F', 'M', 'F', 'M',
        'F', 'M', 'F', 'M', 'F',
        'M', 'F', 'M', 'F', 'M',
        'F', 'M', 'F', 'M', 'F'
    ],
    'Math': [
        88, 92, 75, 85, np.nan,
        90, 78, 95, 82, 70,
        65, 88, np.nan, 91, 77,
        83, 94, 69, 80, 87
    ],
    'Science': [
        79, 88, 82, np.nan, 91,
        85, 73, 90, 78, 84,
        70, 92, 86, 88, np.nan,
        76, 89, 74, 85, 93
    ],
    'English': [
        84, 90, 70, 88, 76,
        np.nan, 80, 93, 75, 88,
        72, 85, 90, np.nan, 83,
        91, 78, 86, 74, 89
    ]
}

df = pd.DataFrame(data)
print(f"Shape: {df.shape}")
df

---
## Step 2: Data Cleaning ðŸ§¹

**Task:** Check for missing values and fill them with the mean of their respective column.

**Hint:** Use `df.isnull().sum()` to check, then `fillna()` to fill.

In [ ]:
# Check missing values
# YOUR CODE HERE
df.isnull().sum()

In [ ]:
# Fill missing values with the mean of each column
# YOUR CODE HERE
df['Math'] = df['Math'].fillna(df['Math'].mean())
df['Science'] = df['Science'].fillna(df['Science'].mean())
df['English'] = df['English'].fillna(df['English'].mean())
df

---
## Step 3: Melt the Data ðŸ”„

**Task:** Convert the subject columns (Math, Science, English) into a long format using `melt()`.

The result should have columns: `StudentName`, `Class`, `Gender`, `Subject`, `Score`

Save the result as `df_melted`.

In [ ]:
# Melt the DataFrame
# YOUR CODE HERE
df_melted = df.melt(id_vars=['StudentName', 'Class', 'Gender'], value_vars=['Math', 'Science', 'English'], var_name='Subject', value_name='Score')
df_melted

---
## Step 4: GroupBy & Aggregation ðŸ“Š

Answer the following questions using `groupby()` and `agg()`.

In [ ]:
# Q1: What is the average score per Subject per Class?
# Use df_melted, group by ['Class', 'Subject'], find mean of Score
# YOUR CODE HERE
dfOne = df_melted.groupby(['Class', 'Subject'])['Score'].mean()
dfOne

In [ ]:
# Q2: Which Gender scores higher on average? (use df_melted)
# Group by Gender, find mean Score
# YOUR CODE HERE
gender_mean_score = df_melted.groupby(['Gender'])['Score'].mean()
gender_mean_score.idxmax() # This Shows the gender with the highest average score
gender_mean_score.max() # This shows the highest average score
df_melted[df_melted['Score'] > gender_mean_score.max()] # This shows the names of the students who scored more than the average score

# This is extra one i do it on my oown
# now i will sort the data and find the highest score
# df_melted.sort_values(by='Score', ascending=False).head(1)

In [ ]:
# Q3: For each Class, find the avg, min, max score using .agg()
# Use df_melted, group by Class
# YOUR CODE HERE
df_melted.groupby('Class')['Score'].agg(['mean', 'min', 'max'])

In [ ]:
# Q4: Which student has the highest TOTAL score across all subjects?
# Hint: Use original df, add a 'TotalScore' column = Math + Science + English
# Then find the student with max total
# YOUR CODE HERE
df['TotalScore'] = df['Math'] + df['Science'] + df['English']
df[['StudentName', 'English', 'Math', 'Science', 'TotalScore']].sort_values(by='TotalScore', ascending=False).head(1)

---
## Step 5: Transform â€” Add Class Average Column ðŸ”§

**Task:** Using `transform()`, add a new column `Class_Avg_Score` to `df_melted`
that shows the average score of each Class (for comparison with individual scores).

In [ ]:
# Add Class_Avg_Score column using transform()
# YOUR CODE HERE
df_melted['Class_Avg_Score'] = df_melted.groupby('Class')['Score'].transform('mean')
df_melted

---
## Step 6: Filter Top Performing Classes ðŸ†

**Task:** Using `groupby().filter()`, keep only rows from classes where
the **average score is above 83**.

In [ ]:
# Filter classes with average score > 83
# YOUR CODE HERE
# above_avg_score = df_melted[df_melted['Class_Avg_Score'] > 83]
above_avg_score = df_melted.groupby('Class').filter(lambda x: x['Score'].mean() > 83)
above_avg_score

---
## Step 7: Merge with Teacher Data ðŸ¤

**Task:** A second DataFrame with class teacher info is given below.
Merge it with the original `df` using the `Class` column.

In [ ]:
# Teacher DataFrame (already created for you)
teachers = pd.DataFrame({
    'Class': ['10A', '10B', '10C', '10D'],
    'ClassTeacher': ['Mr. Sharma', 'Ms. Verma', 'Mr. Khan', 'Ms. Patel'],
    'TeacherExperience_yrs': [8, 12, 5, 15]
})
teachers

In [ ]:
# Merge df with teachers on 'Class'
# YOUR CODE HERE
df_melted_with_teachers = pd.merge(df_melted, teachers, on='Class', how='left')
df_melted_with_teachers

---
## Step 8: Save & Load CSV ðŸ’¾

**Task:**
1. Save your merged DataFrame to a CSV file called `student_analysis.csv`
2. Load it back and display it

In [ ]:
# Save to CSV (index=False so it doesn't save the row numbers)
# YOUR CODE HERE
df_melted_with_teachers.to_csv('Student_Performance_Project.csv', index=False)

In [ ]:
# Load it back
# YOUR CODE HERE
pd.read_csv('Student_Performance_Project.csv')

---
## ðŸŽ¯ Bonus Challenge (Optional)

1. Use `pivot_table()` on `df_melted` to show average score for each Student vs Subject
2. Find which subject has the lowest average score across ALL students
3. Add a column `Performance` to the original `df` â€” label students as:
   - `'Excellent'` if TotalScore > 255
   - `'Good'` if TotalScore is between 210 and 255  
   - `'Needs Improvement'` if TotalScore < 210

**Hint for #3:** Use `np.select()` or `pd.cut()`

In [ ]:
# Bonus 1: Pivot Table
# YOUR CODE HERE
df_pivot = df_melted.pivot_table(index='StudentName', columns='Subject', values='Score', aggfunc='mean')
df_pivot

In [ ]:
# Bonus 2: Lowest average subject
# YOUR CODE HERE
df_pivot.sort_values(by=['Math', 'Science', 'English'], ascending=True).head(1)

In [ ]:
# Bonus 3: Performance labels
# YOUR CODE HERE
df['Performance'] = pd.cut(df['TotalScore'], bins=[0, 210, 255, 1000], labels=['Need Improvement', 'Good', 'Excellent'])
df