Pandas is the python library. Which make life easier for the Data Scientist.
It is Build on the numpy Wihch make Data Analysise very easy

Pandas Provide Two main Data Structure
1, Series - One dimensional array
2, Dataframe - like SQL, Excel they have Rows, Columns

In [1]:
import pandas as pd

In [4]:
s = pd.Series([10,20,30,40]) # Series is like a list with lables
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

In [7]:
s2 = pd.Series([71, 84, 56, 23, 56, 89, 98], index=["Harry", "Subh", "Rohan", "Akash", "Kirti", "John", "Rehaan"])
print(s2)

Harry     71
Subh      84
Rohan     56
Akash     23
Kirti     56
John      89
Rehaan    98
dtype: int64

In [8]:
s2["Harry"], s2["Akash"], s2["Rehaan"]

(np.int64(71), np.int64(23), np.int64(98))

DataFrmae - 2D Labeled Table.
DataFrame is like a Dictionary of Series, but contains multiple columns with lables.
DataFrame Contains the data as tables in MS Excel

In [12]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Banglore"]
}
df = pd.DataFrame(data)
df

      name  age      city
0    Alice   25     Delhi
1      Bob   30    Mumbai
2  Charlie   35  Banglore

In [13]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
df.columns

Index(['name', 'age', 'city'], dtype='object')