In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salamn Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmavat,2018,Historical,585,7.0
5,Ayushmaan Khurana,Andhadhun,2018,Thriller,111,8.3
6,Rajkumar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhavan,Badrinath ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,URI: The Surgical Strike,2019,Action,342,8.2

In [6]:
df["Actor"], type(df["Actor"])

(0        Shah Rukh Khan
 1           Salamn Khan
 2            Aamir Khan
 3         Ranbir Kapoor
 4         Ranveer Singh
 5     Ayushmaan Khurana
 6          Rajkumar Rao
 7        Hrithik Roshan
 8          Akshay Kumar
 9         Kartik Aaryan
 10         Varun Dhavan
 11        Vicky Kaushal
 Name: Actor, dtype: object,
 pandas.core.series.Series)

In [7]:
df[["Actor", "IMDb"]]

                Actor  IMDb
0      Shah Rukh Khan   7.2
1         Salamn Khan   6.0
2          Aamir Khan   8.4
3       Ranbir Kapoor   5.6
4       Ranveer Singh   7.0
5   Ayushmaan Khurana   8.3
6        Rajkumar Rao   7.5
7      Hrithik Roshan   6.5
8        Akshay Kumar   7.0
9       Kartik Aaryan   5.9
10       Varun Dhavan   6.1
11      Vicky Kaushal   8.2

In [8]:
df.loc[1] # It will find the row lables

Actor                       Salamn Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [9]:
df.iloc[1] # It will find using the index

Actor                       Salamn Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [11]:
df.loc[8, 'Genre']

'Comedy'

In [14]:
df.iloc[8,3]

'Comedy'

In [15]:
df.loc[0:2, ['Actor', 'Film', 'IMDb']]

            Actor             Film  IMDb
0  Shah Rukh Khan          Pathaan   7.2
1     Salamn Khan  Tiger Zinda Hai   6.0
2      Aamir Khan           Dangal   8.4

In [16]:
df.at[0,'Actor']

'Shah Rukh Khan'

In [19]:
df.iat[0,0]

'Shah Rukh Khan'

In [20]:
df[df['IMDb']>6]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmavat,2018,Historical,585,7.0
5,Ayushmaan Khurana,Andhadhun,2018,Thriller,111,8.3
6,Rajkumar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newz,2019,Comedy,318,7.0
10,Varun Dhavan,Badrinath ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,URI: The Surgical Strike,2019,Action,342,8.2

In [21]:
df[df['IMDb']>6]['Actor']

0        Shah Rukh Khan
2            Aamir Khan
4         Ranveer Singh
5     Ayushmaan Khurana
6          Rajkumar Rao
7        Hrithik Roshan
8          Akshay Kumar
10         Varun Dhavan
11        Vicky Kaushal
Name: Actor, dtype: object

In [22]:
df[(df['IMDb']>6) & (df['Year']>2019)]

            Actor     Film  Year   Genre  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023  Action                  1050   7.2

In [27]:
# .query() it returns a copy not a view.
# copy means when we make changes in copy it donot reflect in the main dataset.
# but if make any changes in view it reflect back to the main dataset. 
df.query('Year > 2018 and IMDb > 6')

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newz,2019,Comedy,318,7.0
11,Vicky Kaushal,URI: The Surgical Strike,2019,Action,342,8.2