# Working with CSV

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salamn Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmavat,2018,Historical,585,7.0
5,Ayushmaan Khurana,Andhadhun,2018,Thriller,111,8.3
6,Rajkumar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhavan,Badrinath ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,URI: The Surgical Strike,2019,Action,342,8.2

In [9]:
# now we can make a dataframe from this data by manipulating the data
df1 = df[df['IMDb']>6]
df1

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmavat,2018,Historical,585,7.0
5,Ayushmaan Khurana,Andhadhun,2018,Thriller,111,8.3
6,Rajkumar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newz,2019,Comedy,318,7.0
10,Varun Dhavan,Badrinath ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,URI: The Surgical Strike,2019,Action,342,8.2

In [ ]:
df1.to_csv('filtered_data.csv', index=False) # index=False it prevents pandas from writing row indices to the file it gives new indexes to the new dataframe

In [11]:
# Work with Excel files
df_excel = pd.read_excel('data.xlsx')
df_excel

      Name School  Marks
0  Shubham    SPS     34
1   Joshua    UPS     45
2     Jack    WPS     56
3     Alex    UIS     67
4  Jasmine    RTS     78
5    Rohan    RRS     89
6    Rishi    PES    100
7   Aakash    DPS     51

In [ ]:
# write data to excel
# df_excel.to_excel('output.xlsx', index=False)

# working with multiple sheets in an Excel file
# with pd.ExcelWriter('output.xlsx') as writer:
#     df.to_excel(writer, sheet_name='Original Data', index=False)
#     df1.to_excel(writer, sheet_name='Filtered Data', index=False)

In [ ]:
# working with JSON files
# df_json = pd.read_json('data.json')
# df_json
# so we have to normalze the data to make it a dataframe
# a = pd.json_normalize(df_json['data'])
# a